@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&family=Press+Start+2P&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 400%;
  font-family: "Press Start 2P", sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

.body-game {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 250vh;
}

.telaMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(161, 211, 245);
}

#header {
  display: none;
}

#footer {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: transparent;
  z-index: 1;
  bottom: 0px;
}
#footer #footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: transparent;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.main .arena {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 48%;
  background-color: #000;
}
.main .separar {
  width: 100%;
  height: 60px;
  background-image: linear-gradient(180deg, black, white);
}
.main .informacoes {
  width: 80%;
  height: 48%;
  max-width: 1120px;
}

.imagem {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
  margin-bottom: 25px;
}

.paragrafo {
  width: 60%;
  font-size: 1.5rem;
  line-height: 35px;
  text-align: center;
}

.jogo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  width: 100%;
}
.jogo div {
  margin-bottom: 10px;
}
.jogo div text {
  padding-left: 10px;
}
.jogo #btnJogar {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #000;
  border: 1px solid #000;
  color: rgb(161, 211, 245);
  transition: 0.5s;
}
.jogo #btnJogar:hover {
  cursor: pointer;
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
}

.navJog {
  width: 40px;
  height: 40px;
  background-image: url("../../img/nave_jog.gif");
  position: fixed;
  left: 50%;
  bottom: 60px;
}

#barraVida {
  display: flex;
  background-color: transparent;
}

#heart {
  font-size: 2rem;
  color: rgb(246, 8, 8);
  margin-left: 10px;
}

.tiroJog {
  width: 3px;
  height: 10px;
  background-color: #000;
  border-radius: 3px;
  position: absolute;
}

.bomba {
  width: 24px;
  height: 24px;
  position: absolute;
}

.explosaoChao {
  width: 55px;
  height: 57px;
  position: absolute;
}

.explosaoAr {
  width: 70px;
  height: 70px;
  position: absolute;
}

#barraVida {
  position: relative;
  margin-right: 50px;
}
#barraVida #heart {
  position: absolute;
  font-size: 45px;
  top: -22px;
}
#barraVida #qtdVidas {
  position: absolute;
  color: white;
  top: -8px;
  left: 25px;
}

.menu_content {
  width: 30px;
  height: 40px;
  position: relative;
  margin-left: 50px;
}
.menu_content .item {
  border-radius: 50px;
  color: white;
  padding: 5px;
  position: absolute;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu_content i {
  font-size: 35px;
}
.menu_content .link_git,
.menu_content .link_link {
  text-decoration: none;
  color: white;
}
.menu_content .link_git:hover {
  color: purple;
}
.menu_content .link_link:hover {
  color: blue;
}
.menu_content .active {
  transform: rotate(45deg);
}
.menu_content .active ~ .options .item:hover {
  scale: 1.1;
  transition: scale 0.3s;
}
.menu_content .active ~ .options .item:nth-child(1) {
  transform: translate(-4.5rem, -2.5rem);
}
.menu_content .active ~ .options .item:nth-child(2) {
  transform: translate(0, -5.5rem);
  transition-delay: 0.1s;
}

.react {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .react {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .react .quadro-2 {
    margin-top: 10px;
  }
}
.react .quadro-1 {
  width: 300px;
  height: 350px;
  border: 3px solid black;
  position: relative;
}
.react .quadro-1 .container-quadro {
  width: 100%;
  height: 100%;
  position: absolute;
}
.react .quadro-1 .container-quadro .img {
  width: 100%;
  height: 90%;
  background-image: url("../img/agency.png");
  background-size: cover;
  background-position: center;
  transition: 0.6s;
}
.react .quadro-1 .container-quadro .img:hover {
  opacity: 0;
}
.react .quadro-1 .container-quadro .link {
  width: 100%;
  height: 10%;
  transition: 0.5s;
}
.react .quadro-1 .container-quadro .link a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  transition: 0.5s;
}
.react .quadro-1 .container-quadro .link a:hover {
  background-color: #000;
  color: #fff;
}
.react .quadro-1 .paragrafo-quadro {
  width: 100%;
  height: 100%;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.react .quadro-1 .paragrafo-quadro text {
  text-align: center;
  padding: 5px;
}
.react .quadro-2 {
  width: 300px;
  height: 350px;
  border: 3px solid black;
  position: relative;
}
.react .quadro-2 .container-quadro {
  width: 100%;
  height: 100%;
  position: absolute;
}
.react .quadro-2 .container-quadro .img {
  width: 100%;
  height: 90%;
  background-image: url("../img/agency.png");
  background-size: cover;
  background-position: center;
  transition: 0.6s;
}
.react .quadro-2 .container-quadro .img:hover {
  opacity: 0;
}
.react .quadro-2 .container-quadro .link {
  width: 100%;
  height: 10%;
  transition: 0.5s;
}
.react .quadro-2 .container-quadro .link a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  transition: 0.5s;
}
.react .quadro-2 .container-quadro .link a:hover {
  background-color: #000;
  color: #fff;
}
.react .quadro-2 .paragrafo-quadro {
  width: 100%;
  height: 100%;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.react .quadro-2 .paragrafo-quadro text {
  text-align: center;
  padding: 5px;
}

.hcj {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .hcj {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hcj .ttl-quadro {
    order: 3;
  }
  .hcj .quadro-3 {
    order: 2;
    margin-top: 10px;
  }
}
.hcj .quadro-3 {
  width: 300px;
  height: 350px;
  border: 3px solid black;
  position: relative;
}
.hcj .quadro-3 .container-quadro {
  width: 100%;
  height: 100%;
  position: absolute;
}
.hcj .quadro-3 .container-quadro .img {
  width: 100%;
  height: 90%;
  background-image: url("../img/clima.png");
  background-size: cover;
  background-position: center;
  transition: 0.6s;
}
.hcj .quadro-3 .container-quadro .img:hover {
  opacity: 0;
}
.hcj .quadro-3 .container-quadro .link {
  width: 100%;
  height: 10%;
  transition: 0.5s;
}
.hcj .quadro-3 .container-quadro .link a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  transition: 0.5s;
}
.hcj .quadro-3 .container-quadro .link a:hover {
  background-color: #000;
  color: #fff;
}
.hcj .quadro-3 .paragrafo-quadro {
  width: 100%;
  height: 100%;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hcj .quadro-3 .paragrafo-quadro text {
  text-align: center;
  padding: 5px;
}
.hcj .ttl-quadro {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  text-align: center;
}
.hcj .quadro-4 {
  width: 300px;
  height: 350px;
  border: 3px solid black;
  position: relative;
}
.hcj .quadro-4 .container-quadro {
  width: 100%;
  height: 100%;
  position: absolute;
}
.hcj .quadro-4 .container-quadro .img {
  width: 100%;
  height: 90%;
  background-image: url("../img/agency.png");
  background-size: cover;
  background-position: center;
  transition: 0.6s;
}
.hcj .quadro-4 .container-quadro .img:hover {
  opacity: 0;
}
.hcj .quadro-4 .container-quadro .link {
  width: 100%;
  height: 10%;
  transition: 0.5s;
}
.hcj .quadro-4 .container-quadro .link a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  transition: 0.5s;
}
.hcj .quadro-4 .container-quadro .link a:hover {
  background-color: #000;
  color: #fff;
}
.hcj .quadro-4 .paragrafo-quadro {
  width: 100%;
  height: 100%;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hcj .quadro-4 .paragrafo-quadro text {
  text-align: center;
  padding: 5px;
}

.sobre {
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .sobre {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 10px;
  }
  .sobre .ttl-quadro {
    order: 3;
  }
  .sobre .quadro-5 {
    order: 2;
    margin-top: 15px;
  }
  .sobre .quadro-6 {
    margin-top: 10px;
  }
}
.sobre .quadro-5 {
  width: 300px;
  height: 350px;
  border: 3px solid black;
  line-height: 22px;
  padding: 9px;
  text-align: center;
  max-width: 300px;
  min-width: 260px;
}
.sobre .ttl-quadro {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  text-align: center;
}
.sobre .quadro-6 {
  width: 300px;
  height: 350px;
  border: 3px solid black;
  line-height: 22px;
  padding: 9px;
  text-align: center;
  max-width: 300px;
  min-width: 260px;
}

/*# sourceMappingURL=styles.css.map */
