@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&family=Press+Start+2P&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 400%;
  font-family: "Press Start 2P", sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

.body-game {
  overflow-x: hidden;
  width: 100vw;
  height: 250vh;
  display: flex;
  justify-content: center;
}

.telaMsg {
  width: 100vw;
  height: 100vh;
  background-color: rgb(161, 211, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.telaMsg .imagem {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
  margin-bottom: 25px;
}
.telaMsg .paragrafo {
  width: 60%;
  font-size: 1.5rem;
  line-height: 35px;
  text-align: center;
}
.telaMsg .jogo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  width: 100%;
}
.telaMsg .jogo div {
  margin-bottom: 10px;
}
.telaMsg .jogo div text {
  padding-left: 10px;
}
.telaMsg .jogo #btnJogar {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #000;
  border: 1px solid #000;
  color: rgb(161, 211, 245);
  transition: 0.5s;
}
.telaMsg .jogo #btnJogar:hover {
  cursor: pointer;
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
}

#header {
  display: none;
}

.navJog {
  width: 40px;
  height: 40px;
  background-image: url("../../img/nave_jog.gif");
  position: fixed;
  left: 50%;
  bottom: 60px;
}

#barraVida {
  display: flex;
  background-color: transparent;
}

#c1,
#c2,
#c3,
#c4,
#c5 {
  font-size: 2rem;
  color: rgb(246, 8, 8);
  margin-left: 10px;
}

.tiroJog {
  width: 3px;
  height: 10px;
  background-color: #000;
  border-radius: 3px;
  position: absolute;
}

.bomba {
  width: 24px;
  height: 24px;
  position: absolute;
}

.explosaoChao {
  width: 55px;
  height: 57px;
  position: absolute;
}

.explosaoAr {
  width: 70px;
  height: 70px;
  position: absolute;
}

#footer {
  width: 100vw;
  height: 50px;
  background-color: rgb(161, 211, 245);
  display: flex;
  justify-content: center;
  z-index: 1;
  position: fixed;
  bottom: 0px;
}
#footer #footerContainer {
  min-width: 1120px;
  height: 50px;
  background-color: rgb(161, 211, 245);
  display: flex;
  align-items: center;
}
#footer #footerContainer #barraVida {
  position: relative;
}
#footer #footerContainer #barraVida #c1 {
  position: absolute;
  top: -15px;
}
#footer #footerContainer #barraVida #qtdVidas {
  position: absolute;
  color: rgb(161, 211, 245);
  top: -7px;
  left: 19px;
}

.main {
  height: 96%;
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.main .arena {
  width: 100%;
  height: 48%;
}
.main .informacoes {
  width: 100%;
  height: 48%;
}
.main .informacoes .react {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .main .informacoes .react {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .informacoes .react .quadro-2 {
    margin-top: 10px;
  }
}
.main .informacoes .react .quadro-1 {
  width: 300px;
  height: 350px;
  max-width: 300px;
  border: 3px solid black;
  position: relative;
}
.main .informacoes .react .quadro-1 .container-quadro {
  width: 100%;
  height: 100%;
  position: absolute;
}
.main .informacoes .react .quadro-1 .container-quadro .img {
  width: 100%;
  height: 90%;
  background-image: url("../img/agency.png");
  background-size: cover;
  background-position: center;
  transition: 0.6s;
}
.main .informacoes .react .quadro-1 .container-quadro .img:hover {
  opacity: 0;
}
.main .informacoes .react .quadro-1 .container-quadro .link {
  width: 100%;
  height: 10%;
  transition: 0.5s;
}
.main .informacoes .react .quadro-1 .container-quadro .link a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  transition: 0.5s;
}
.main .informacoes .react .quadro-1 .container-quadro .link a:hover {
  background-color: #000;
  color: #fff;
}
.main .informacoes .react .quadro-1 .paragrafo {
  width: 100%;
  height: 100%;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .informacoes .react .quadro-1 .paragrafo text {
  text-align: center;
  padding: 5px;
}
.main .informacoes .react .quadro-2 {
  max-width: 300px;
  height: 350px;
  border: 3px solid black;
  position: relative;
}
.main .informacoes .react .quadro-2 .container-quadro {
  width: 100%;
  height: 100%;
  position: absolute;
}
.main .informacoes .react .quadro-2 .container-quadro .img {
  width: 100%;
  height: 90%;
  background-image: url("../img/agency.png");
  background-size: cover;
  background-position: center;
  transition: 0.6s;
}
.main .informacoes .react .quadro-2 .container-quadro .img:hover {
  opacity: 0;
}
.main .informacoes .react .quadro-2 .container-quadro .link {
  width: 100%;
  height: 10%;
  transition: 0.5s;
}
.main .informacoes .react .quadro-2 .container-quadro .link a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  transition: 0.5s;
}
.main .informacoes .react .quadro-2 .container-quadro .link a:hover {
  background-color: #000;
  color: #fff;
}
.main .informacoes .react .quadro-2 .paragrafo {
  width: 100%;
  height: 100%;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .informacoes .react .quadro-2 .paragrafo text {
  text-align: center;
  padding: 5px;
}
.main .informacoes .hcj {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .main .informacoes .hcj {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .informacoes .hcj .ttl-quadro {
    order: 3;
  }
  .main .informacoes .hcj .quadro-3 {
    order: 2;
    margin-top: 10px;
  }
}
.main .informacoes .hcj .quadro-3 {
  width: 300px;
  height: 350px;
  border: 3px solid black;
  position: relative;
}
.main .informacoes .hcj .quadro-3 .container-quadro {
  width: 100%;
  height: 100%;
  position: absolute;
}
.main .informacoes .hcj .quadro-3 .container-quadro .img {
  width: 100%;
  height: 90%;
  background-image: url("../img/agency.png");
  background-size: cover;
  background-position: center;
  transition: 0.6s;
}
.main .informacoes .hcj .quadro-3 .container-quadro .img:hover {
  opacity: 0;
}
.main .informacoes .hcj .quadro-3 .container-quadro .link {
  width: 100%;
  height: 10%;
  transition: 0.5s;
}
.main .informacoes .hcj .quadro-3 .container-quadro .link a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  transition: 0.5s;
}
.main .informacoes .hcj .quadro-3 .container-quadro .link a:hover {
  background-color: #000;
  color: #fff;
}
.main .informacoes .hcj .quadro-3 .paragrafo {
  width: 100%;
  height: 100%;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .informacoes .hcj .quadro-3 .paragrafo text {
  text-align: center;
  padding: 5px;
}
.main .informacoes .hcj .ttl-quadro {
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  text-align: center;
  color: black;
}
.main .informacoes .hcj .quadro-4 {
  width: 300px;
  height: 350px;
  border: 3px solid black;
  position: relative;
}
.main .informacoes .hcj .quadro-4 .container-quadro {
  width: 100%;
  height: 100%;
  position: absolute;
}
.main .informacoes .hcj .quadro-4 .container-quadro .img {
  width: 100%;
  height: 90%;
  background-image: url("../img/clima.png");
  background-size: cover;
  background-position: center;
  transition: 0.6s;
}
.main .informacoes .hcj .quadro-4 .container-quadro .img:hover {
  opacity: 0;
}
.main .informacoes .hcj .quadro-4 .container-quadro .link {
  width: 100%;
  height: 10%;
  transition: 0.5s;
}
.main .informacoes .hcj .quadro-4 .container-quadro .link a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  transition: 0.5s;
}
.main .informacoes .hcj .quadro-4 .container-quadro .link a:hover {
  background-color: #000;
  color: #fff;
}
.main .informacoes .hcj .quadro-4 .paragrafo {
  width: 100%;
  height: 100%;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .informacoes .hcj .quadro-4 .paragrafo text {
  text-align: center;
  padding: 5px;
}
.main .informacoes .sobre {
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .main .informacoes .sobre {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 10px;
  }
  .main .informacoes .sobre .ttl-quadro {
    order: 3;
  }
  .main .informacoes .sobre .quadro-5 {
    order: 2;
    margin-top: 15px;
  }
  .main .informacoes .sobre .quadro-6 {
    margin-top: 10px;
  }
}
.main .informacoes .sobre .quadro-5 {
  width: 300px;
  height: 350px;
  border: 3px solid black;
  line-height: 20px;
  padding: 9px;
  text-align: center;
}
.main .informacoes .sobre .ttl-quadro {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}
.main .informacoes .sobre .quadro-6 {
  width: 300px;
  height: 350px;
  border: 3px solid black;
  line-height: 20px;
  padding: 9px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
