@import "../base/base-mixin";

.body-game {
  overflow-x: hidden;
  width: 100vw;
  height: 250vh;
  display: flex;
  justify-content: center;
}

.telaMsg {
  width: 100vw;
  height: 100vh;
  background-color: rgb(161, 211, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .imagem {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    margin-bottom: 25px;
  }

  .paragrafo {
    width: 60%;
    font-size: 1.5rem;
    line-height: 35px;
    text-align: center;
  }

  .jogo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    width: 100%;

    div {
      margin-bottom: 10px;
      text {
        padding-left: 10px;
      }
    }

    #btnJogar {
      margin-top: 10px;
      padding: 10px;
      border: none;
      border-radius: 3px;
      font-size: 0.9rem;
      font-weight: 600;
      text-transform: uppercase;

      background-color: $black;
      border: 1px solid $black;
      color: rgb(161, 211, 245);
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        color: $black;
        background-color: transparent;
        border: 1px solid $black;
      }
    }
  }
}

#header {
  display: none;
}

.navJog {
  width: 40px;
  height: 40px;
  background-image: url("../../img/nave_jog.gif");
  position: fixed;
  left: 50%;
  bottom: 60px;
  //margin-bottom: 60px;
}

#barraVida {
  display: flex;
  background-color: transparent;
}

#c1,
#c2,
#c3,
#c4,
#c5 {
  font-size: 2rem;
  color: rgb(246, 8, 8);
  margin-left: 10px;
}

.tiroJog {
  width: 3px;
  height: 10px;
  background-color: #000;
  border-radius: 3px;
  position: absolute;
}

.bomba {
  width: 24px;
  height: 24px;
  //background-image: url("../../img/et1.png");
  position: absolute;
}

.explosaoChao {
  width: 55px;
  height: 57px;
  position: absolute;
}

.explosaoAr {
  width: 70px;
  height: 70px;
  position: absolute;
}

#footer {
  width: 100vw;
  height: 50px;
  background-color: rgb(161, 211, 245);
  display: flex;

  justify-content: center;
  z-index: 1;
  position: fixed;
  bottom: 0px;

  #footerContainer {
    min-width: 1120px;
    height: 50px;
    background-color: rgb(161, 211, 245);
    display: flex;
    align-items: center;

    #barraVida {
      position: relative;

      #c1 {
        position: absolute;
        top: -15px;
      }

      #qtdVidas {
        position: absolute;
        color: rgb(161, 211, 245);
        top: -7px;
        left: 19px;
      }
    }
  }
}

.main {
  height: 96%;
  width: 100%;
  max-width: 1120px;
  display: flex;

  flex-direction: column;
  margin: 10px;

  .arena {
    width: 100%;
    height: 48%;
    //background-color: red;
  }

  .informacoes {
    width: 100%;
    height: 48%;

    .react {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .quadro-2 {
          margin-top: 10px;
        }
      }

      .quadro-1 {
        width: 300px;
        height: 350px;
        max-width: 300px;
        border: 3px solid black;
        position: relative;

        .container-quadro {
          width: 100%;
          height: 100%;
          position: absolute;

          .img {
            width: 100%;
            height: 90%;

            background-image: url("../img/agency.png");
            background-size: cover;
            background-position: center;
            transition: 0.6s;

            &:hover {
              opacity: 0;
            }
          }

          .link {
            width: 100%;
            height: 10%;
            transition: 0.5s;

            a {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: $black;
              transition: 0.5s;

              &:hover {
                background-color: $black;
                color: #fff;
              }
            }
          }
        }

        .paragrafo {
          width: 100%;
          height: 100%;
          // color: red;
          line-height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          text {
            text-align: center;
            padding: 5px;
          }
        }
      }

      .quadro-2 {
        max-width: 300px;
        height: 350px;
        border: 3px solid black;
        position: relative;

        .container-quadro {
          width: 100%;
          height: 100%;
          position: absolute;

          .img {
            width: 100%;
            height: 90%;

            background-image: url("../img/agency.png");
            background-size: cover;
            background-position: center;
            transition: 0.6s;

            &:hover {
              opacity: 0;
            }
          }

          .link {
            width: 100%;
            height: 10%;
            transition: 0.5s;

            a {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: $black;
              transition: 0.5s;

              &:hover {
                background-color: $black;
                color: #fff;
              }
            }
          }
        }

        .paragrafo {
          width: 100%;
          height: 100%;
          // color: red;
          line-height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          text {
            text-align: center;
            padding: 5px;
          }
        }
      }
    }

    .hcj {
      width: 100%;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ttl-quadro {
          order: 3;
        }
        .quadro-3 {
          order: 2;
          margin-top: 10px;
        }

        .quadro-4 {
        }
      }

      .quadro-3 {
        width: 300px;
        height: 350px;
        border: 3px solid black;
        position: relative;

        .container-quadro {
          width: 100%;
          height: 100%;
          position: absolute;

          .img {
            width: 100%;
            height: 90%;

            background-image: url("../img/agency.png");
            background-size: cover;
            background-position: center;
            transition: 0.6s;

            &:hover {
              opacity: 0;
            }
          }

          .link {
            width: 100%;
            height: 10%;
            transition: 0.5s;

            a {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: $black;
              transition: 0.5s;

              &:hover {
                background-color: $black;
                color: #fff;
              }
            }
          }
        }

        .paragrafo {
          width: 100%;
          height: 100%;
          // color: red;
          line-height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          text {
            text-align: center;
            padding: 5px;
          }
        }
      }

      .ttl-quadro {
        width: 300px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        text-align: center;
        //margin-left: 5px;
        //margin-right: 5px;
        color: black;
      }

      .quadro-4 {
        width: 300px;
        height: 350px;
        border: 3px solid black;
        position: relative;

        .container-quadro {
          width: 100%;
          height: 100%;
          position: absolute;

          .img {
            width: 100%;
            height: 90%;

            background-image: url("../img/clima.png");
            background-size: cover;
            background-position: center;
            transition: 0.6s;

            &:hover {
              opacity: 0;
            }
          }

          .link {
            width: 100%;
            height: 10%;
            transition: 0.5s;

            a {
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: $black;
              transition: 0.5s;

              &:hover {
                background-color: $black;
                color: #fff;
              }
            }
          }
        }
        .paragrafo {
          width: 100%;
          height: 100%;
          // color: red;
          line-height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          text {
            text-align: center;
            padding: 5px;
          }
        }
      }
     
    }

    .sobre {
      margin-bottom: 20px;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 10px;

        .ttl-quadro {
          order: 3;
        }
        .quadro-5 {
          order: 2;
          margin-top: 15px;
        }

        .quadro-6 {
          margin-top: 10px;
        }
      }

      .quadro-5 {
        width: 300px;
        height: 350px;
        border: 3px solid black;
        line-height: 20px;
        padding: 9px;
        text-align: center;
      }

      .ttl-quadro {
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
        //margin-left: 5px;
        //margin-right: 5px;
        color: black;
      }

      .quadro-6 {
        width: 300px;
        height: 350px;
        border: 3px solid black;
        line-height: 20px;
        padding: 9px;
        text-align: center;
      }
    }
  }
}
