body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#painel {
  display: none;
}

.navJog {
  width: 40px;
  height: 40px;
  background-image: url("../../img/nave_jog.gif");
  position: absolute;
}

#barraVida {
  display: flex;
  background-color: transparent;
}

#c1,
#c2,
#c3,
#c4,
#c5 {
  font-size: 2rem;
  color: rgb(216, 74, 74);
  margin-left: 10px;
}

.tiroJog {
  width: 3px;
  height: 10px;
  background-color: #000;
  border-radius: 3px;
  position: absolute;
}

.bomba {
  width: 24px;
  height: 24px;
  //background-image: url("../../img/et1.png");
  position: absolute;
}

.explosaoChao {
  width: 55px;
  height: 57px;
  position: absolute;
}

.explosaoAr {
  width: 70px;
  height: 70px;
  position: absolute;
}

.telaMsg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(161, 211, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .paragrafo {
    width: 60%;
    top: 20px;
    font-size: 1.5rem;
    line-height: 35px;
    text-align: center;
  }

  .opcao {
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;

    .jogo {
      display: flex;
      justify-content: center;
     // align-items: left;
      padding: 10px;
      flex-direction: column;
      height: 100%;
      width: 100%;
      //background-color: green;
      text {
        margin-bottom: 10px;
      }
      div {
        margin-bottom: 10px;
        text {
          padding-left: 10px;
        }
      }
    }

    .site{
      text-align: right;
    }
  }
  .selecao {
    width: 60%;
    display: flex;
   // justify-content: center;

    div {
      width: 60%;
      display: flex;
      justify-content: center;
    }
  }
}
